body{
    background-color: rgb(222, 216, 216);
    margin:0px;
}


img{
    width: 30px;
    height: 30px;
}

#linkAdd{
   float:right;
   margin-right: 10px;
}

.imgC{
   margin-top: 19px; 
}

.btnC{
    background-color: rgb(255, 255, 255);
    border: 0px;
}

.novoP{
    margin-left: 10px;
}

#bPesq{
    justify-content: center;
}

#contact-list{
    list-style: none;
}

.dContato{
    background-color: white;
    border: 0.5px solid rgb(169, 164, 164);
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
}

.btnsB{
    background-color: white;
    border: 0px;
}

#bPesq{
    background-color: white;
    display:flex;
    justify-content: space-between;
    border: 10px solid white;
    /* padding: 10px; */
}


#search-input{
    border: 1px;
    font-size: 20px;
    vertical-align:top;
    margin-top: 5px;
}

#linkAdd{
    align-self: flex-end;
}